{% extends 'base.html' %}
{% load static %}
{% block titulo %}
Seu carrinho de compras
{% endblock %}

{% block conteudo %}
<table style="margin-left: 3%; margin-top: 3%;">
    <thead>
        <tr>
            <th width="300">Imagem</th>
            <th width="200">Produto</th>
            <th width="100">Quantidade</th>
            <th width="100">Remover</th>
            <th width="100">Preço unitário</th>
            <th width="100">Sub-total</th>
        </tr>
    </thead>
    <tbody>
        {% for item in carrinho %}
        {% with produto=item.produto %}
        <tr>
            <td width="300">
                <a href="{{ produto.get_absolute_url }}">
                    <img src="{% if produto.imagem %}
                                            {{ produto.imagem.url }}
                                          {% else %}
                                            {%  static 'img/default.jpg' %}
                                          {% endif %}" width="200px" height="auto">
                </a>
            </td>
            <td>{{ produto.nome }}</td>
            <td>{{ item.quantidade }}</td>
            <td><a href="{% url 'remover_do_carrinho' produto.id %}">Remover</a></td>
            <td>{{ item.preco }}</td>
            <td>{{ item.subtotal}}</td>
        </tr>
        {% endwith %}
        {% endfor %}
        <tr style="border-top: 2px solid #000;">
            <td style="font-weight: 500;"><strong>Total geral:</strong></td>
            <td colspan="4"></td>
            <td><strong>R$ {{ carrinho.get_total_geral }}</strong></td>
        </tr>
    </tbody>
</table>
<p class="text-right" style="padding-right: 5%; ">
    <a href="{% url 'listar_produtos' %}" class="btn btn-primary button-light">
        Comprar mais produtos
    </a>
    <a href="{% url 'criar_pedido' %}" class="btn btn-secondary button">
        Finalizar
    </a>
</p>
{% endblock %}