{% extends "base.html" %}

{% block conteudo %}
{% load static %}



<div class="main_container_index" >
    <div class="main_container_card_index">
        <div style="display: flex;
min-height: 45vh;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #545E5E;
padding: 2%;
border-radius: 40px;">
            <img src="" alt="">
            <img src="{% static 'img/GJ_Ecommerce_Dark.png' %} " alt="Ecommerce" style="height: 40vh;" />
            <h1 style="font-size: 2rem; letter-spacing: 3px; color: #F2F2F2;">Ecommerce GJ</h1>
        </div>

        <div style="display: flex;
min-height: 45vh;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #545E5E;
padding: 2%;
border-radius: 40px;">
            <a href="/produtos" style="font-size: 2rem; font-weight: 600; color: #FFF; margin-bottom: 20px;">
                Conheça nossos produtos
            </a>
            <img src="{% static 'img/discount.png' %} " alt="Ecommerce" style="height: 25vh; border-radius: 10px;;" />
            <span style="font-size: 1.5rem; font-weight: 300; color: #F2F2F2; margin-top: 20px;">
                Temos descontos exclusivos!</span>
        </div>
    </div>


</div>

{% endblock conteudo %}