{% extends "base.html" %}
{% block conteudo %}
{% load static %}

<div class="main_container_aboutus">
    <h2 style="width: 80%; letter-spacing: 3px;font-size: 2.5rem;">Sobre</h2>
    <img class="main_container_card_img_aboutus" src="{% static 'img/GJ_Ecommerce_Light.png' %} " alt="Ecommerce" />
    <h3 style="letter-spacing: 2px; font-size: 2rem; font-weight: 600; margin-bottom: 10px;">Ecommerce GJ</h3>
    <p style="letter-spacing: 1px; width: 50%; font-size: 2rem;">Sistema de ecommerce desenvolvido em Django baseado no
        livro Python e Django, do
        autor Francisco Marcelo de
        Barros Maciel</p>

</div>

{% endblock conteudo %}